// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

#content {
	margin: 40px 200px;
}

header {
	h1 {
		float: left;
	}

	.add-btn {
		float: right;
		width: 100px;
		padding: 10px;
	}
}

.white-svg {
	display: inline-block;
	fill: white;
}

.add-icon {
	width: 20px;
}

.cancel-icon {
	width: 40px;
}

.del-col {
	width: 100px;
	text-align: center;

	.del-btn {
		border: none;
    background: inherit;
    cursor: pointer;

    .svg {
    	width: 20px;
    }
	}
}

.quiz_form {
	border: #007bff 5px solid;
  border-radius: 5px;
	padding: 20px 40px 15px;
  background: lightgrey;

	.action-buttons {
		float: right;

		.save-btn {
			width: 100px;
		}
	}
}